@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
html{
    font-family: 'Montserrat', sans-serif;
}
#loading{
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#head{ 
background:url('https://nishantshah977.github.io/img/cover1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
   text-align:center;
     background-position: top center;
    position: relative;
    z-index: 1;
}
#head h1{ 
    color:white;
    font-family:cursive;
}
#service{
    margin:20px;
}
#btn{
    background-color: transparent;
    color:white;
}
#btn::first-letter{
    font-size:25px;
    color:red;
}
#btn:hover{
    background-color:black;
}
footer{
    color:white;
}
footer i{
    font-size:50px;
}
